$color_main_bg = #F2F3F4;
$text_color = #707070;

html 
    font-size 62.5%

body {
    padding: 1.5rem;
}

.nav_main
    background: $color_main_bg
    color: $text_color
    justify-content: start

.text
    color: $text_color

.overflow
      overflow: hidden

.header_image
    background-image url('../home.jpeg');
    height: 95vh;
    background-size: cover;
    background-position: top;
    position relative;

.icon_header
    position: absolute;
    top: 4rem;
    left: 5rem;
    height 3.5rem;

.heading_primary
    position absolute;
    top: 40%;
    left: 50%;
    transform translate(-50%, -50%);

.heading-primary-main
    font-family: "Courier New"
    font-size 6rem;
    font-weight 40rem;
    letter-spacing: 1.5rem;
    animation-name: moveInLeft;
    animation-duration: 3s;

.heading-primary-secondary
    font-family "Courier New"
    font-size 2rem
    font-weight 20rem
    letter-spacing 1rem
    animation-name moveInRight
    animation-duration 3s
    margin-bottom 1rem

.button_color
    color #777
    background-color #D1C9C4

.button_styling 
    text-decoration none
    font-family "Open Sans"
    display inline-block
    font-size 1.6rem
    padding 1.5rem 4rem 
    transition all .3s
    animation-name moveInBottom
    animation-duration 3s

.button_styling:hover
    color #777
    box-shadow 0 1rem 2rem rgba(0,0,0 .2)
    text-decoration none
    transform translateY(-.3rem)
    
.button_styling:active
    box-shadow 0 .5rem 1rem rgba(0,0,0 .2)
    transform translateY(-.1rem)

@keyframes moveInLeft {
    0% {
        opacity 0
        transform translateX(-10rem)
    }
    100% {
        opacity 1
        transform translateX(0)
    }
}

@keyframes moveInRight {
    0% {
        opacity 0
        transform translateX(10rem)
    }
    100% {
        opacity 1
        transform translateX(0)
    }
}

@keyframes moveInBottom {
    0% {
        opacity 0
        transform translateY(10rem)
    }
    100% {
        opacity 1
        transform translateY(0)
    }
}