$color_main_bg = #F2F3F4;
$text_color = #707070;

.nav_main
    background: $color_main_bg
    color: $text_color
    justify-content: start

.text
    color: $text_color

.overflow
      overflow: hidden

.sidebar_animate 
    transform: translateX(200px);
    transition: all 1.5s linear;